/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply default font and body styling */
html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(155, 184, 155);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop{
    padding: 0px 30%;
    justify-content: space-between;
    display: flex;
    color: #fff;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(72, 104, 72);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    padding: 10px 20px;
    font-weight: 700;
    font-size: 22px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(18, 119, 57);
}

#pbottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: rgb(72, 104, 72);
    border-radius: 50%;
    font-weight: 1000;
    color: #fff;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(31, 66, 31);
}


